.container {
  display: flex;
  height: 100vh;
  background: #fff;
  justify-content: center;
  max-width: 100%;
}

.formSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 80px 80px;
  max-width: 700px;

  h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 16px 0 8px;
  }

  p {
    color: #666;
    margin-bottom: 24px;
  }
  .msg{
  color: red;
  font-size: 14px;
  height: 19px;
  margin: 0 0 6px 0;
  }
  
}


.logo {
  margin-bottom: 20px;

  img {
    width: 48px;
    height: 48px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;

  label {
    font-weight: 500;
    font-size: 14px;
  }

  input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;

    &:focus {
      border-color: #007bff;
    }
  }
}

.passwordWrapper {
  position: relative;

  input {
    width: 100%;
    padding-right: 40px;
  }

  .eyeIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    color: #666;
  }
}

.forgotPassword {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin: 4px 0 16px;
}

.signInBtn {
  background: #007bff;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    background: #0056d2;
  }
}

.divider {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #777;
  font-size: 14px;
  margin: 20px 0;

  span {
    flex: 1;
    height: 1px;
    background: #ddd;
  }
}

.social {
  display: flex;
  gap: 12px;

  button {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      background: #f5f5f5;
    }
  }
}

.signup {
  margin-top: 20px;
  font-size: 14px;
  color: #555;

  a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
  }
}

.imageSection {
  
  display: flex;
  align-items: center;
  justify-content: right;
  background: #fff;
  

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 16px 16px;
    padding: 10px 10px 10px 10px;
  }
}

